<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div class="page-menu">
    <f:if condition="{categoryFilter}">
        <menuControls:categoryFilter filter="{categoryFilter}" />
    </f:if>

    <ul class="page-menu__list">
        <f:for each="{pages}" as="page">
            <li class="page-menu__item">
                <f:link.page pageUid="{page.uid}" class="page-menu__link">
                    {page.properties.title}
                </f:link.page>
            </li>
        </f:for>
    </ul>

    <f:if condition="{pagination}">
        <menuControls:pagination pagination="{pagintion}" />
    </f:if>
</div>

</html>
